<div class="calendar-container">
  <div class="calendar-header">
    <mat-icon class="calendar-icon">calendar_month</mat-icon>
    <span class="month-label">{{ currentMonth }}</span>
  </div>
  <div class="calendar-grid">
    <div class="day-label" *ngFor="let day of daysOfWeek">{{ day }}</div>
    <div class="day-cell" *ngFor="let day of days">
      <span [class.today]="day === 1">{{ day }}</span>
      <div class="meeting-dot" *ngIf="getReunionesByDay(day).length > 0"></div>
    </div>
  </div>
</div>
