<div class="monthdetail-container">
  <app-ui-item [label]="mesNombre | titlecase"></app-ui-item>

  <div class="plank-wrapper">
    <app-plank
      title="Temas"
      [editable]="false"
      [lines]="temasAsNovedades"
      [allowDeleteOnly]="isProfesor"
      (abrirArchivo)="abrirArchivo($event)"
      (remove)="removeContenido($event)">
    </app-plank>
  </div>

  <div class="plank-wrapper">
    <app-plank
      title="Programación"
      [editable]="false"
      [lines]="programacionAsNovedades"
      [allowDeleteOnly]="isProfesor"
      (abrirArchivo)="abrirArchivo($event)"
      (remove)="removeContenido($event)">
    </app-plank>
  </div>

  <div class="plank-wrapper">
    <app-plank
      title="Práctico"
      [editable]="false"
      [lines]="practicoAsNovedades"
      [allowDeleteOnly]="isProfesor"
      (abrirArchivo)="abrirArchivo($event)"
      (remove)="removeContenido($event)">
    </app-plank>
  </div>

  <div class="boton-contenido" *ngIf="isProfesor">
    <app-ui-button text="Añadir contenido" (click)="addContent()"></app-ui-button>
  </div>
</div>
