<div class="monthdetail-container">
  <app-ui-item label="Simulacros"></app-ui-item>

  <div class="plank-wrapper">
    <app-plank
      [editable]="false"
      [lines]="simulacrosAsNovedades"
      [allowDeleteOnly]="isProfesor"
      (remove)="removeSimulacro($event)"
      (clicked)="descargarSimulacro($event)"
      (abrirArchivo)="abrirSimulacro($event)">
    </app-plank>
  </div>

  <div *ngIf="isProfesor" class="boton-contenido">
    <app-ui-button text="Subir simulacro" (click)="addSimulation()"></app-ui-button>
  </div>
</div>
