<div class="home-container">
  <div class="content-left">
    <app-plank
      *ngIf="esProfesor"
      [title]="'Novedades para profesor'"
      [lines]="novedadesProfesor">
    </app-plank>

    <app-plank
      [title]="'Novedades para alumnos'"
      [editable]="esProfesor"
      [allowDeleteOnly]="esProfesor"
      [lines]="novedadesAlumno"
      (add)="addNuevaNovedad($event)"
      (remove)="removeNovedadAlumno($event)">
    </app-plank>
  </div>

  <div class="content-right">
    <app-calendar></app-calendar>
    <app-ui-button text="Reunirse"></app-ui-button>
  </div>
</div>
