/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --forest-green: #00664f;
  --hover-green: #004d3f
}

a {
  text-decoration: underline;
  color: var(--forest-green);
  cursor: pointer;
}
