<div class="breadcrumb-container">
  <div class="breadcrumb-left">
    <ng-container *ngFor="let bc of breadcrumbs; let last = last">
      <a [routerLink]="bc.url" class="breadcrumb-link">{{ bc.label }}</a>
      <span *ngIf="!last">&nbsp;&gt;&nbsp;</span>
    </ng-container>
  </div>

  <div class="breadcrumb-right">
    <button mat-stroked-button (click)="toggleChat()" class="chat-button">
    <mat-icon>chat</mat-icon> Chat
    </button>
    <app-sendbird-widget *ngIf="chatVisible()" />
    <app-user-profile></app-user-profile>
  </div>
</div>
